
.projetos-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #93A1AC;;
    border-radius: 30px;
    margin: 2rem auto;
    width: 90%;
     overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  }
  
  .grid-container::-webkit-scrollbar {
  width: 6px;
}

.grid-container::-webkit-scrollbar-track {
  background: transparent;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: rgba(244, 250, 252, 0.5);
  border-radius: 10px;
}

.grid-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(244, 250, 252, 0.8);
}
  
  .card {
    background: #ffffff;
    border-radius: 15px;
    width: 230px;
    height: 300px;
    padding: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .imgProjeto {
    width: 100%;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  
  .tituloProjeto {
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
  }
  
  .projetoNear {
    background-image: url("../../assets/projetoNear.png");
  }
  
  .projetoBora {
    background-image: url("../../assets/bora.png");
  }
  
  .projetoFC {
    background-image: url("../../assets/projetoFerreiraCosta.png");
  }
  
  .projetoConfeit {
    background-image: url("../../assets/confeitart.png");
  }
  
  .projetoWayClient {
    background-image: url("../../assets/projetoWayClient.png");
  }
  
  .projetoML {
    background-image: url("../../assets/projetoMachine.png");
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-content {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
  }
  
  #close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    color: #006494;
    cursor: pointer;
  }
  .imgProjetoGrande{
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
@media (max-width: 768px) {

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
 #close-btn {
    font-size: 4rem;
  
  }
  .card {
    width: 100%;
    max-width: 180px;
    height: 250px;
    padding: 0.8rem;
  }

  .imgProjeto{
    height: 150px;
  }
  .imgProjetoGrande{
    height: 160px;
  }
  .tituloProjeto {
    font-size: 1rem;
  }
  .descricao{
    font-size:1.2rem;
   
  }
}
@media (max-width: 360px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

  @media (max-width: 480px) {
    .card {
      width: 150px;
      height: 220px;
      padding: 0.5rem;
    }
  
    .imgProjeto {
      height: 110px;
    }
  
    .tituloProjeto {
      font-size: 0.9rem;
    }
  }
  