.livroJava  {
    background-image: url("../../assets/livroJava.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem;
}

.livroSeguranca{
    background-image: url("../../assets/livroSeguranca.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem;
    
}
.livroRedes{
    background-image: url("../../assets/livroRedes.png");
    background-size: contain;
    background-repeat: no-repeat;
   padding: 10rem;
}
.livroSistemas{
    background-image: url("../../assets/livroSistemas.png");
    background-size: contain;
    background-repeat: no-repeat;
     padding: 10rem;
    
}

.livros {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
    gap: 4rem;
}
.livro #nota{
   display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
padding: 15px 8px;
width: 65%;
font-size: medium;
color: #0f0f0f;
border: #006494 solid 2px;
margin-top: 1rem;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
text-align: center;
}

@media only screen and (max-width: 800px) {
 
    .livroJava,.livroRedes,.livroRedes,.livroSeguranca,.livroSistemas{
  padding: 6rem;
     
    }
  
     .livros {
 display: flex;
 flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
      }
      .livro #nota{
     border-radius: 5px;
     padding: 10px 6px;
     font-size: small;
  
     }
    .livros-content{
        margin-left: 4rem;
    }
    
      
}
