.livroJava  {
    background-image: url("../../assets/livroJava.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem;
}

.livroSeguranca{
    background-image: url("../../assets/livroSeguranca.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem;
    
}
.livroRedes{
    background-image: url("../../assets/livroRedes.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem;
}
.livroSistemas{
    background-image: url("../../assets/livroSistemas.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem;
    
}

.livros {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
    
}
.livro #nota{
   display: flex;
justify-content: center;
align-items: center;
border-radius: 15px;
padding: 10px;
width: 65%;
font-size: large;
color: #040027;
background-color: #e0e7ef;
margin-top: 1rem;
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
 
    .livroJava,.livroRedes,.livroRedes,.livroSeguranca,.livroSistemas{
        padding: 4rem;
     
    }
    .livro #nota{
     font-size: small;
     padding: 5px;
 text-align: center;
     margin-bottom: 2rem;
     }
     .livros {
 display: flex;
 flex-direction: row;
        flex-wrap: wrap;
      }
  
    
      
}
