/* PÁGINA */
.minha-jornada {
  height: 100dvh;      
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* CONTEÚDO QUE ROLA */
.minha-jornada-container {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 

  background-color: #21405B;
  font-family: 'Comick', sans-serif;
  color: #f4f4f4;

  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.timeline-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  background-color: #cccccc;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
  border: 2px solid #93A1AC;
  border-radius: 12px;
  background-color: #D4D6D7;
  width: 100%;
  max-width: 700px;
  line-height: 1.6;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-item:hover {
  transform: scale(1.04);
  box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: 2.5rem;
  color: #21405B;
  align-self: flex-start;
}

.year {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #21405B;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  white-space: nowrap;
}

.text {
  flex: 1;
  background-color: #93A1AC;
  color: #131313;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.timeline-item:hover .text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.timeline-item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 6px;
  height: 2rem;
  background-color: #cccccc;
  transform: translateX(-50%);
}

.timeline-item:last-child::after {
  display: none;
}


.decorative-astronaut {
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 200px;
  height: 200px;
  background-image: url("../../assets/astronauta2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.decorative-astronaut-2 {
  position: absolute;
  top: 15%;
  right: 75%;
  width: 200px;
  height: 200px;
  background-image: url("../../assets/astronauta3.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}


@media (max-width: 768px) {
  .minha-jornada-container{
     scroll-behavior: smooth;
    
  }
  .timeline {
    gap: 1.2rem;
    max-width: 95%;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    padding: 1rem;
 
  }

  .icon {
    font-size: 2rem;
  }

  .year {
    font-size: 1.1rem;
  }

  .text {
    opacity: 1;
    visibility: visible;
    transform: none;
    font-size: 1.2rem;
    
  }

  .timeline-title {
    font-size: 2rem;
  }

  .decorative-astronaut,
  .decorative-astronaut-2 {
    display: none;
  }

  .timeline::before {
    display: none;
  }


}

@media (max-width: 480px) {
    .minha-jornada-container{
     scroll-behavior: smooth;
    
  }
  .timeline-title {
    font-size: 1.7rem;
  }

  .text {
    font-size: 1rem;
  }
}
