* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.topo{
  display: block;
  margin:  auto;
    padding: 0;
}
body {
  background-color: #93A1AC;
  color: #21405B;
   overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #D4D6D7;
  position: relative;
  width: 1100px;
  max-width: 95vw;
  height: 660px;
  border-radius: 20px;
  box-shadow: 150px 150px 170px rgba(0, 0, 0, 0.35);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.menu h3 {
  margin-top: 0.5rem;
}

.menu h5 {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menu h5:hover {
  background-color: #21405B;
  color: #f4f4f4;
}


.Centralizar_minhaFoto {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.minhaFoto {
  background-image: url("../../assets/eu.png");
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 240px;
}


.linguagens_ferramentas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.linguagens_ferramentas_1,
.linguagens_ferramentas_2 {
  display: flex;
  gap: 1rem;
}

.java, .spring, .js, .react, .tailwind, .postgre {
  width: 8rem;
  height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.java { background-image: url("../../assets/java.png"); }
.spring { background-image: url("../../assets/springBoot.png"); }
.js { background-image: url("../../assets/js.png"); }
.react { background-image: url("../../assets/react.png"); }
.tailwind { background-image: url("../../assets/tailwind.png"); }
.postgre { background-image: url("../../assets/postgre.png"); }

#frase {
  margin-left: 2rem;
}

.figuras_direita {
  position: fixed;
  right: 10px;
  bottom: -100px;
}

.foguete {
  background-image: url("../../assets/foguete.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10rem;
}

.figuras_esquerda {
  position: fixed;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.iconeReact,
.iconeHeadphone,
.iconeCafe {
  background-size: contain;
  background-repeat: no-repeat;
}

.iconeReact {
  padding: 2rem;
  background-image: url("../../assets/iconeReact.png");
}

.iconeHeadphone {
  padding: 6rem;
  background-image: url("../../assets/iconeHeadphone.png");
}

.iconeCafe {
  padding: 2rem;
  background-image: url("../../assets/iconeCafe.png");
}

.astronauta {
  position: fixed;
  right: 2px;
  bottom: -95px;
  width: 400px;
  height: 400px;
  background-image: url("../../assets/astronauta.png");
  background-size: contain;
  background-repeat: no-repeat;
}


@media (max-width: 768px) {

  .container-home {
    align-items: flex-start;
    padding-top: 0;
    min-height: 100dvh;
   
  }

  .container {
    height: auto;
    min-height: auto;
    width: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 6vw, 4rem);

    box-shadow: none;
  }

  .topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0.5rem;
  }

  .menu {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: flex-start;
    order: 1;
  }

  .menu h3 {
    font-size: 1.8rem;
    margin-left: 1rem;
  }

  .menu h5 {
    font-size: 1.2rem;
  }

.Centralizar_minhaFoto {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 6rem; 

  order: 2;
}

  .minhaFoto {
    width: 240px;
    height: 240px;
  }

.linguagens_ferramentas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.linguagens_ferramentas_1,
.linguagens_ferramentas_2 {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: center;
  order: 1; 
}

.java, .spring, .js, .react, .tailwind, .postgre {
  width: 6rem;
  height: 6rem;
}

.astronauta {
  position: static;
  width: 280px;
  height: 280px;
  order: 2; 
  opacity: 0.85;
}

  #frase {
    display: none;
  }

}
