* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


body {
  background-color: #93A1AC;
  color: #21405B;
   overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #D4D6D7;
  position: relative;
  width: 1100px;
  max-width: 95vw;
  height: 660px;
  border-radius: 20px;
  box-shadow: 150px 150px 170px rgba(0, 0, 0, 0.35);
}

.menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.menu h3 {
  margin-top: 0.5rem;
}

.menu h5 {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menu h5:hover {
  background-color: #21405B;
  color: #f4f4f4;
}


.Centralizar_minhaFoto {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.minhaFoto {
  background-image: url("../../assets/eu.png");
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 240px;
}


.linguagens_ferramentas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.linguagens_ferramentas_1,
.linguagens_ferramentas_2 {
  display: flex;
  gap: 1rem;
}

.java, .spring, .js, .react, .tailwind, .postgre {
  width: 8rem;
  height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.java { background-image: url("../../assets/java.png"); }
.spring { background-image: url("../../assets/springBoot.png"); }
.js { background-image: url("../../assets/js.png"); }
.react { background-image: url("../../assets/react.png"); }
.tailwind { background-image: url("../../assets/tailwind.png"); }
.postgre { background-image: url("../../assets/postgre.png"); }

#frase {
  margin-left: 2rem;
}

.figuras_direita {
  position: fixed;
  right: 10px;
  bottom: -100px;
}

.foguete {
  background-image: url("../../assets/foguete.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10rem;
}

.figuras_esquerda {
  position: fixed;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.iconeReact,
.iconeHeadphone,
.iconeCafe {
  background-size: contain;
  background-repeat: no-repeat;
}

.iconeReact {
  padding: 2rem;
  background-image: url("../../assets/iconeReact.png");
}

.iconeHeadphone {
  padding: 6rem;
  background-image: url("../../assets/iconeHeadphone.png");
}

.iconeCafe {
  padding: 2rem;
  background-image: url("../../assets/iconeCafe.png");
}

.astronauta {
  position: fixed;
  right: 2px;
  bottom: -95px;
  width: 400px;
  height: 400px;
  background-image: url("../../assets/astronauta.png");
  background-size: contain;
  background-repeat: no-repeat;
}


@media (max-width: 768px) {
  .figuras_direita,
  .figuras_esquerda {
    display: none;
  }
body{
    overflow-y: hidden;
}
  

  .astronauta {
    width: 300px;
    height: 300px;
    bottom: -50px;
  }

  .java, .spring, .js, .react, .tailwind, .postgre {
    width: 6rem;
    height: 6rem;
  }

  #frase {
    display: none;
  }

  .container-home {
    height: 100vh;
    padding: 1rem;
  }


  .container {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
        height: auto;
    box-shadow: none;
  }

  .menu {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    width: 60%;
  }

  .menu h3 {
    font-size: 1.4rem;
    margin-left: 2rem;
  }

  .menu h5 {
    font-size: 1.2rem;
  }

  .Centralizar_minhaFoto {
    width: 40%;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  .minhaFoto {
    width: 320px;
    height: 320px;
  }
.centralizar-linguagens{
  width: 100%;
 display: flex;
   justify-content: center;
   align-items: center;
}
  

  .linguagens_ferramentas_1,
  .linguagens_ferramentas_2 {
    display: flex;
    flex-direction: column;
 
    
  }

  .linguagens_ferramentas {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .java, .spring, .js, .react, .tailwind, .postgre {
    width: 6rem;
    height: 6rem;
    margin: auto;
 
  }

  .astronauta {
    position: relative;
    margin-top: auto;
    width: 280px;
    height: 280px;
  
  }
}

