nav #logo {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: xx-large;
    line-height: 0.8;
    gap: 2;
}

nav {
    background-color: #D4D6D7;
     color:  #21405B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap; 
    box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
nav h4{
  padding: 0.5rem 1rem; 
  border-radius: 10px; 
  transition: background-color 0.3s ease;
}
nav h4:hover {
  color: #f4f4f4; 
  background-color: #21405B; 
  display: inline-block;
}
.link{
    text-decoration: none;
    color: inherit;
  }


