nav #logo {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: xx-large;
    line-height: 0.8;
}
nav {
    background-color: #3DA3F5;
    color: #FBF8E5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap; 
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.2);
    
}

.link{
    text-decoration: none;
    color: inherit;
  }
  .link:hover{
    color: #070328;
  }
.imgPerfil {
    background-image: url("../../assets/avatarPerfil.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2.50rem;
    margin: 0;
}
.seta {
    background-image: url("../../assets/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.50rem;
  margin-left: 2rem;
   
}

.inline{
    display: flex;
    align-items: center;
}

.seta {
  transition: transform 0.3s ease-in-out;
}

.seta.rotate {
  transform: rotate(90deg);
}

.sobre {
  margin-left: 35px;
}