

#tituloEstudos{
    margin-top: 4rem;
    text-align: center;
    color: #0f0f0f;
    border: #006494 solid 2px;
    padding: 10px;
    width: 40%;
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}
.titulo-content{
    display: flex;
    justify-content: center;
}
.assuntos {
   display: flex;
   justify-content: center;
   margin-top: 4cm;
   align-items: center;
   flex-direction: column;
   
}
.jsversusruby , .responsividade, .udemy{
    display: flex;
    justify-content: center;
    
}
.jsversusruby .imgRuby, .jsversusruby .imgJS, .background .imgFlex , .background .imgJava ,.background .imgReact{
   
    padding: 6rem;
   
}

.imgVersus {
    background-image: url("../../assets/versus.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2.65rem;
   height: 20vh;
}
.versus-content{
    display: flex;
    flex-direction: column;
   align-content: flex-end;
    height: 10vh;
    margin-top: 4rem;
    margin-right: 0.75rem;
}

.background{
   padding: 10px 80px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-bottom: 5rem;
    margin: 2rem;
border: #006494 solid 2px;
}
#texto{
    text-align: justify;
    color: #0f0f0f;
    font-size: larger;
    margin-top: 2rem;
}
.background #link{
    color: #040027c1;
}
.section {
    position: relative;

}

.section > .txt-more {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.section #a{
text-decoration: none;
    color: #2313b4;
    font-size: large;
}